In [ ]:
print("Hello")

Hello

In [ ]:
#Cetak dalam console ( print kalimat) "Saya wibu dan saya bangga"
print("Saya wibu dan saya bangga")

Saya wibu dan saya bangga

In [ ]:
print("jumlah: ", "tiga")

jumlah: ,tiga

In [ ]:
# Men-assign (memberi nilai) pada variable)
x = 5
harga = 10000
nama = 'budi'

#Memanggil variable
print("Nilai x: ",x )
print("Harga: ", harga)
print("nama: ", nama)

# Mengganti nilai dari variable
x = 10
print("Nilai x: ",x )

#Tidak bisa menggunakan spasi untuk nama variable
nama_orang = 'budi basudara'
#Tidak bisa menggunakan angka didepan untuk nama variable
orang10 = 10
# Tidak bisa menggunakan reserved word
print1 = 10

y = x
print("Nilai y:", y)

x = 3
print("Nilai y:", y)

Nilai x:  5
Harga:  10000
nama:  budi
Nilai x:  10
Nilai y: 10
Nilai y: 10

In [ ]:
# Tipe Data integer / bilangan bulat
tipedata_int = 100
print(type(tipedata_int))

# Tipe Data Bilangan Desimal / float
tipedata_float = 3.14
print(type(tipedata_float))

#Tipe Data String (kumpulan kata)
tipedata_string = 'Haaloo'
print(type(tipedata_string))

#Tipe Data Boolean (biner) True / False
tipedata_boolean = True
print(type(tipedata_boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#Casting tipe data

harga = '10000'
print(harga, type(harga))

#Mengubah ke int
harga = int(harga)
print(harga, type(harga))

#Mengubah ke float
harga = float(harga)
print(harga, type(harga))

#Mengubah ke string
harga = str(harga)
print(harga, type(harga))

# Warning mengubah float ke int -- bakal dibuletin kebawah
tinggi = 126.9
tinggi = int(tinggi)
print(tinggi, type(tinggi))

10000 <class 'str'>
10000 <class 'int'>
10000.0 <class 'float'>
10000.0 <class 'str'>
126 <class 'int'>

In [ ]:
# Buat variable Nama, kelas, umur, pilihan_ketua, pilihan_sekre, pilihan_benda
# Terus diprint
# Nafis minat jadi sekre, jd pilihlah :3
#

In [ ]:
nama = 'rayhan'
kelas = '12E1'
umur = 21
pilihan_ketua = 'Apel'
pilihan_sekre = 'Budi'
pilihan_benda = "Cici"
print(nama)
print(kelas)
print(umur)
print(pilihan_ketua)
print(pilihan_sekre)
print(pilihan_benda)

rayhan
12E1
21
Apel
Budi
Cici